#header{
    box-sizing: border-box;
    width: 100%;
    height: 6rem;
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(100px);
    background-color: transparent;
}

#page-title{
    display: inline;
    font-family: 'outfit';
    font-size: 2rem;
    font-weight: bold;
    color: #474747;
    margin: 0 0  0 2rem;

}
#profile-icon{
    width: 3.3rem;
    margin: 1.3rem 3rem 0 0;
    border: 4px solid #429677;
    border-radius: 100%;
    cursor: pointer;
}
/* #username{
    margin: 0 0 0 2rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'outfit';
    color: #5A5A5A;

} */

/* media queries */

/* Add a media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    #h1 {
      padding: 0.5rem 1rem;
    }
  
    #page-title {
      font-size: 1.5rem;
    }
  
    #profile-icon {
      width: 2.5rem;
      margin: 0.8rem 1rem 0 0;
    }
  }