.bar{
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 0;

}
.empty{
    background-color: #9BD6B2;
}
.fill{
    background-color: #59D089;
    width: 40%;
}


/* media q */

@media screen and (max-width: 768px) {
    .bar {
      height: 3px;
    }
  }