.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3.5rem;
    transition: background-color 0.3s ease; /* Add a transition for smooth color change */
  }
  
  .row:hover,
  .row:focus,
  .row.active { /* Add a new class for active (clicked) rows */
    background-color: #E2F2EA;
    cursor: pointer;
  }
  
  .icon {
    width: 2rem;
    margin-left: 3.5rem;
    margin-right: 0.8rem;
  }
  
  .indicator {
    width: 0.5rem;
    background-color: #6EB896;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .text {
    font-family: 'outfit';
    font-size: 1.3rem;
    margin-right: auto;
    font-weight: bold;
  }
  