:root {
    --scrollbar-track-color: #E3EDE8; /* Track color */
    --scrollbar-thumb-color: #6ABE45; /* Thumb color (green accent) */
  }

#prompt-container{
    width: calc(100vw - 19rem) ;
    align-self: flex-end;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    height: 5rem;
    /* display: none; */
}
#text-area{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #E3EDE8;
    color: #ADB2B1;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'outfit';
    padding: 1rem;
    box-sizing: border-box;
    bottom: 0;
    
}
#text-area::placeholder{
    letter-spacing: 1px;
}
#send-button{
    position: absolute;
    bottom: .9rem; 
    right: 2rem; 
    background: none; 
    border: none;
    cursor: pointer;
}
#send-button img{
    width: 2.5rem; 
    height: auto; 
}
.chat-messages{
    overflow-y: auto;
}

/* scroll */

#text-area::-webkit-scrollbar {
    width: 8px;
  }
  

  #text-area::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
  }
  

  #text-area::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 6px;
  }