#chat-body{

    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    background-color: #BFE1CC;
    /* position: relative; */
    overflow-y: auto;
    height: calc(100vh - 8rem);
    
}
